::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
}
hr {
  height: 1px;
}
table {
  border-spacing: 1px;
}
#page #top,
#page #bottom,
#page #middle h2 a:hover,
#page #middle h2 a:hover {
  background-color: #3b3b3b;
}
body {
  background-color: #808080;
}
a {
  color: #000;
}
#page #top,
#page #bottom {
  color: #fff;
}
#page #top {
  border-bottom: 1px solid #808080;
}
#page #bottom {
  border-top: 1px solid #808080;
}
#left > .table {
  border-right: 1px solid #808080;
}
#right > .table {
  border-left: 1px solid #808080;
}
#page #middle h2,
#page #middle input[type=button],
#page #middle table thead tr th {
  background-color: #aaa;
}
#page #middle input[type=button]:hover {
  background-color: #ccc;
}
#page #middle #left .box.default,
#page #middle #right .box.default,
#page #middle #left .grid.default > div > div,
#page #middle #right .grid.default > div > div,
#page #middle #left hr,
#page #middle #right hr,
#page #middle #center,
#page #middle #left table,
#page #middle #right table,
#page #middle table tbody tr:nth-child(even) th,
#page #middle table tbody tr:nth-child(even) td {
  background-color: #fff;
}
#page #middle #center .grid,
#page #middle #center .grid > h3,
#page #middle #center .grid > div > div {
  border-color: #fff;
}
#page #middle h2 a,
#page #middle h2 a,
#page #middle #center .box.default,
#page #middle #center .grid.default > div > div,
#page #middle #center hr,
#page #middle #left > .table,
#page #middle #right > .table,
#page #middle #center table,
#page #middle table tbody tr:nth-child(odd) th,
#page #middle table tbody tr:nth-child(odd) td {
  background-color: #ddd;
}
#page #middle #left .grid,
#page #middle #right .grid,
#page #middle #left .grid > h3,
#page #middle #right .grid > h3,
#page #middle #left .grid > div > div,
#page #middle #right .grid > div > div {
  border-color: #ddd;
}
#page #middle h2 a {
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#page #middle #left > .table:before {
  right: -5px;
  background-image: linear-gradient(to right, #808080, transparent);
}
#page #middle #right > .table:before {
  left: -5px;
  background-image: linear-gradient(to left, #808080, transparent);
}
#page #middle .buttons input[type=button] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}
