::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
}

#page #top,
#page #bottom,
#page #middle h2 a:hover,
#page #middle h2 a:hover {
    background-color: #3b3b3b;
}

body {
    background-color: #808080;
}

a {
    color: #000;
}

#page #top,
#page #bottom {
    border-color: #808080;
    color: #fff;
}

#page #middle h2,
#page #middle input[type=button],
#page #middle table thead tr th {
    background-color: #aaa;
}

#page #middle input[type=button]:hover {
    background-color: #ccc;
}

#page {
    #middle {
        #left .box.default,
        #right .box.default,
        #left .grid.default > div > div,
        #right .grid.default > div > div,
        #left hr,
        #right hr,
        #center,
        #left table,
        #right table,
        table tbody tr:nth-child(even) th,
        table tbody tr:nth-child(even) td {
            background-color: #fff;
        }

        #center .grid,
        #center .grid > h3,
        #center .grid > div > div {
            border-color: #fff;
        }

        h2 a,
        h2 a,
        #center .box.default,
        #center .grid.default > div > div,
        #center hr,
        #left > .table,
        #right > .table,
        #center table,
        table tbody tr:nth-child(odd) th,
        table tbody tr:nth-child(odd) td {
            background-color: #ddd;
        }

        #left .grid,
        #right .grid,
        #left .grid > h3,
        #right .grid > h3,
        #left .grid > div > div,
        #right .grid > div > div {
            border-color: #ddd;
        }

        #left > .table,
        #right > .table {
            border-color: #808080;
        }
    }
}

@import "theme/blue";
@import "theme/green";
@import "theme/orange";
@import "theme/purple";
@import "theme/red";
@import "theme/yellow";
