@import "../mixins";

@light-border-color: #ccc;
@light-bg-1: #fff;
@light-bg-2: #eee;
@light-bg-3: #e5e5e5;
@light-color: #000;

@dark-border-color: #303030;
@dark-bg-1: #505050;
@dark-bg-2: #404040;
@dark-bg-3: #353535;
@dark-color: #fff;

@width: 1px;


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: @dark-border-color;
}

body {
    color: @light-color;
}

hr {
    height: @width;
}

table {
    border-spacing: @width;
}

#page #top,
#page #bottom {
    background-color: @light-bg-3;
}

a {
    color: @light-color;
}

#page #top {
    border-bottom: @width solid @light-border-color;
}

#page #bottom {
    border-top: @width solid @light-border-color;
}

#page {
    #middle {
        > #loading {
            background-color: @light-bg-1;
        }

        #left.small > .table {
            border-right: @width solid @dark-border-color;
        }

        #right.small > .table {
            border-left: @width solid @dark-border-color;
        }

        .buttons {
            input[type=button] {
                .border-radius(5px);
                .box-shadow( 0px 0px 5px 1px rgba(0,0,0,0.75));
            }
        }

        #left.small,
        #right.small {

            ::-webkit-scrollbar-thumb {
                background-color: @light-border-color;
            }

            a,
            input[type=button] {
                color: @dark-color;
            }

            > .table {
                background-color: @dark-bg-1;
                color: @dark-color;
            }

            input[type=button]:hover,
            h2,
            table thead tr th {
                background-color: @dark-bg-3;
            }

            .box.default,
            .grid.default > div > div,
            table tbody tr:nth-child(even) th,
            table tbody tr:nth-child(even) td {
                background-color: @dark-bg-2;
            }
            
            input[type=button],
            table tbody tr:nth-child(odd) th,
            table tbody tr:nth-child(odd) td {
                background-color: @dark-bg-1;
            }

            .grid,
            .grid > h3,
            .grid > div > div {
                border-color: @dark-bg-1;
            }

            hr,
            table {
                background-color: @dark-border-color;
            }

            h2 {
                border-bottom: @width solid @dark-border-color;

                a {
                    background-color: @dark-bg-1;
                    border: @width solid @dark-border-color;
                }
            }
        }

        #left:not(.small) > .table,
        #right:not(.small) > .table,
        #center {
            background-color: #fff;

            input[type=button]:hover,
            h2,
            table thead tr th {
                background-color: @light-bg-3;
            }

            .box.default,
            .grid.default > div > div,
            table tbody tr:nth-child(even) th,
            table tbody tr:nth-child(even) td {
                background-color: @light-bg-2;
            }
            
            input[type=button],
            table tbody tr:nth-child(odd) th,
            table tbody tr:nth-child(odd) td {
                background-color: @light-bg-1;
            }

            .grid,
            .grid > h3,
            .grid > div > div {
                border-color: @light-bg-1;
            }

            hr,
            table {
                background-color: @light-border-color;
            }

            h2 {
                border-bottom: @width solid @light-border-color;

                a {
                    background-color: @light-bg-1;
                    border: @width solid @light-border-color;
                }

                a:hover {
                    background-color: @dark-bg-1;
                }
            }
        }
    }

    #middle.padding {
        #left:not(.small) > .table,
        #right:not(.small) > .table,
        #center {
            border: @width solid @light-border-color;
        }

        #left.small,
        #right.small {
            border-top: @width solid @dark-border-color;
            border-bottom: @width solid @dark-border-color;
        }
    }

    #middle:not(.padding) {
        #left:not(.small) > .table {
            border-right: @width solid @light-border-color;
        }

        #right:not(.small) > .table {
            border-left: @width solid @light-border-color;
        }
    }
}
